@model DATNQLBH.Models.CSDL.PhanHoi

@{
    ViewBag.Title = "FeedBackComment";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}



<div>
    <h4>Phản hồi</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.TaiKhoan.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaiKhoan.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

    </dl>
</div>

