<form class="form-horizontal" action="/KhachHang/Index" method="post">
    <div class="form-material form-material-primary input-group remove-margin-t remove-margin-b">
        <input class="form-control" type="text" id="base-material-text" name="base-material-text" placeholder="Search..">
        <span class="input-group-addon"><i class="si si-magnifier"></i></span>
    </div>
</form>