#sidebarLeft > .hoangtim1{
    margin-top:70px;
}
#sidebarLeft > .hoangtim1 > p{
    padding-top:10px;
}
#sidebarLeft > .hoangtim2{
    margin-top:40px;
}
#sidebarLeft > .hoangtim2 > p{
    padding-top:10px;
}
#sidebarLeft > .hoangtim3{
    margin-top:40px;
}
#sidebarLeft > .hoangtim3 > p{
    padding-top:10px;
}